
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-videocam-outline:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-volume:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */