body
{
    background-color: gray;
    margin:0 !important;
}

.wrapper
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle
{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color:white;
    margin-left: auto;
    margin-right: auto;
}

.Logo
{
    width: 10%;
    float:left;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    letter-spacing:5px;
    font-weight: 900;
    font-size: 17px;
}

.Information
{
    width: 70%;
    float:left;
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Info
{
    width: 40%;
    float:left;
    background-color: white;
    color: black;
    text-align: right;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Number
{
    width: 14%;
    float:left;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#zegar
{

    padding: 15px;
}

.Name
{
    background-color: coral;
    clear:both;
    padding: 30px;
    font-size: 40px;
    width: 100%;
    color:white;
    text-align: center;
    font-weight: 900;
}

.Menu
{
    background-color: cornflowerblue;
    width:100%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Images
{
    float:left;
    width:100%;
    padding: 10px;
    min-height: 380px;
    background-color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Images1
 {
     float:left;
     width:100%;
     padding: 10px;
     min-height: 380px;
     background-color:white;
     margin-left: auto;
     margin-right: auto;
     text-align: justify;
 }

.text
{
    text-align: justify;
    width:100%;
    padding: 10px;
    min-height: 380px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}


.Oferts
{
    width:100%;
    padding: 15px;
    min-height: 240px;
    background-color:grey;
    margin-left: auto;
    margin-right: auto;
}


.foto
{
    padding: 5px;
    float:left;
    width:20%;
    min-height: 130px;
    background-color:white;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

.srodek
{
    float:left;
    width:60%;
    min-height: 130px;
    background-color:grey;
    padding: 10px;
}

.ceny
{
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    float:left;
    width:20%;
    min-height: 130px;
    background-color:dimgrey;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.nazwa
{
    float:left;
    width:100%;
    min-height: 30px;
    background-color:grey;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}
.opis
{
    width:100%;
    min-height: 30px;
    background-color:grey;
}

.cennik
{
    text-align: center;
    width:20%;
    min-height: 130px;
    background-color:red;
}

.wysrodkuj
{
    min-height: 5px;
    font-size: 22px;
    padding: 5px;
    opacity: 0.8;
    text-align: center;
  }

.zamów
{
    width:40%;
    min-height: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 800;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.Rzutnik
{
    float:left;
    width: 30%;
    min-height: 300px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;

}

.Laptop
{
    float:left;
    width: 30%;
    min-height: 300px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;

}

.Monitor
{
    float:left;
    width: 30%;
    min-height: 300px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;

}


.footer
{
    width:100%;
    clear:both;
    background-color:black;
    color:white;
    text-align: center;
    padding: 20px;
}

.option
{
    float:left;
    width: 23%;
    min-height: 5px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    border-right:2px solid #444444;
    opacity: 0.8;
}
.admin
{
    float:left;
    width: 16%;
    min-height: 5px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    border-right:2px solid #444444;
    opacity: 0.8;
}



.Text
{

    min-width: 250px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.Price
{

    min-width: 250px;
    padding: 10px;
    text-align: center;
    font-size: 21px;
    color: red;
    cursor: pointer;

}

#error {
    color:red;
    font-size:10px;
}

h1 {
    color: darkblue;
}



.position > div {
    width:150px;
    border:1px solid black;
    border-radius: 10px;
    font:bold 22px/100px Arial,Sans-Serif;
    color:black;
    text-align:center;
}

#turquise{ background-color: lightseagreen;}

#blue{ background-color: dodgerblue;}

#violet{ background-color: mediumorchid;}

#orange{ background-color: darkorange;}

#red{ background-color: tomato;}

#yellow{ background-color: orange;}

.static {
    position:static;
}

.relative {
    position:relative;
    top:50px;
    left:50px;
}

.absolute {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fixed {
    position:fixed;
    bottom:20px;
    right:20px;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
     background-color: black;
}

li a:hover {
    text-decoration: none;
    color: orange;
}

.active {
    background-color: #4CAF50;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 1px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}

#container1
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}

.back
{
    margin: 10px;
    width: 210px;
    height: 100px;
    float: right;
    font-size: 40px;
}

.description
{
    background-color: coral;
    width: 960px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

#logo
{
    float: left;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square
{
    width: 100%;
    min-height: 430px;
}

.tilelink
{
    color: #ffffff;
    text-decoration: none;
}

.delete
{
    width: 100px;
    height: 20px;
    background-color: black;
}
.delete:hover
{
    background-color: black;
}



.tabela2 {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-collapse:separate;
    text-align: center;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.tabela2 th {
    font-weight:bold;
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;


    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tabela2 th:first-child{
    text-align: left;
    padding-left:20px;
}
.tabela2 tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.tabela2 tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.tabela2 tr{
    text-align: center;
    padding-left:20px;
}
.tabela2 tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.tabela2 tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;


    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tabela2 tr:nth-child(even) td{

    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tabela2 tr:last-child td{
    border-bottom:0;
}
.tabela2 tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.tabela2 tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}

.powrot
{
    padding: 15px;
    font-size: 30px;
}